body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Header Section */
.flexContent{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.halfWidth{
  width: 50%;
  margin-left: 3%;
}
.headImage img{
  width: 100%;
}
.aboutImage img{
  width: 60%;
  margin-left: 30%;
  padding-top: 100px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #575757;
  line-height: 130%;
  margin-bottom: 40px;
}
p {
  font-size: 20px;
  color: #828282;
  line-height: 160%;
  /* margin-bottom: 49px; */
}
.btn {
  background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
  padding: 20px 35px;
  border-radius: 100px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px #fc8e49af;
}
.btn a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  
}
.coloredText{
  background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/* Header section End */
.aboutMe {
  background-image: url("../images/shapes/7.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutContent{
  margin-right: 10%;
  margin-left: 10%;
}
h2 {
  font-size: 40px;
  color: #828282;
  font-weight: bold;
}
.aboutText {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 90px;
}